<div class="center info">
  <h2>My Profile</h2>
  <strong>Name: </strong><%= @user.name %>
  <br>
  <%= link_to "View Restaurants", restaurants_path %>
</div>
<br>
<% if !@user.restaurants.empty? %>
  <h2>Your Restaurants</h2>
  <% @user.restaurants.uniq.each do |r| %>
    <%= render partial: 'restaurants/display', locals: {r: r, display_name: true} %>
  <% end %>
<% end %>