<h1>New Restaurant</h1>
<div>
  <ul class="errors">

  </ul>
</div>
<%= render partial: 'form', locals: {r: @restaurant, button_text: "Create Restaurant"}, class: "new_restaurant_form" %>

<div class="restaurantInfo">
  <h1 class="restaurantName"></h1>
  <p class="restaurantPhone"></p>
  <p class="restaurantAddress"></p>
  <p class="restaurantPrice"></p>
</div>
