<h1>New Restaurant</h1>
<%= render partial: 'form', locals: {r: @restaurant, button_text: "Create Restaurant"} %>

<div class="restaurantInfo">
  <h1 class="restaurantName"></h1>
  <p class="restaurantPhone"></p>
  <p class="restaurantAddress"></p>
  <p class="restaurantPrice"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $("form").on('submit', function(e) {
      e.preventDefault();

      let values = $(this).serialize();

      let posting = $.post("/restaurants", values);

      posting.done(function(data) {
          let r = new Restaurant(data["id"], data["name"], data["phone"], data["address"], data["city"], data["state"], data["price"]);
          $(".restaurantName").html(r.name);
          $(".restaurantPhone").html(r.phone);
          $(".restaurantAddress").html(r.fullAddress());
          $(".restaurantPrice").html(r.price);

          // Add a link to write a review and do that via AJAX too
      });
  });
</script>
