<h1>Welcome to your Restaurant Guide!</h1>
<% if logged_in? %>
  <h3><%= link_to "Create New Restaurant", new_restaurant_path %></h3>
  <h3><a id="all-restaurants" href="#">View All Restaurants</a></h3>
<% else %>
  <h3>Please login or create an account to continue!</h3>
<% end %>

<div id="restaurants"></div>
<div id="show-restaurant">
  <h1 class="restaurantName"></h1>
  <p class="restaurantPhone"></p>
  <p class="restaurantAddress"></p>
  <p class="restaurantPrice"></p>

  <div id="experiences">
  </div>
</div>
